({:date #object[java.time.LocalDate 0x6adeec95 "2021-03-02"],
  :type "Bank credit A DONOR",
  :desc "Bank credit A DONOR",
  :in 100.0,
  :name "A DONOR",
  :group nil}
 {:date #object[java.time.LocalDate 0x4510dd43 "2021-04-02"],
  :type "Bank credit A DONOR",
  :desc "Bank credit A DONOR",
  :in 200.0,
  :name "A DONOR",
  :group nil}
 {:date #object[java.time.LocalDate 0x551081fb "2021-04-27"],
  :type "Bank credit A DONOR",
  :desc "Bank credit A DONOR",
  :in 20.0,
  :name "A DONOR",
  :group nil}
 {:date #object[java.time.LocalDate 0x7717c45 "2021-05-04"],
  :type "Bank credit A DONOR",
  :desc "Bank credit A DONOR",
  :in 20.0,
  :name "A DONOR",
  :group nil}
 {:date #object[java.time.LocalDate 0x4918ad5 "2021-05-11"],
  :type "Bank credit A DONOR",
  :desc "Bank credit A DONOR",
  :in 20.0,
  :name "A DONOR",
  :group nil}
 {:date #object[java.time.LocalDate 0x47c295cd "2021-05-18"],
  :type "Bank credit A DONOR",
  :desc "Bank credit A DONOR",
  :in 20.0,
  :name "A DONOR",
  :group nil}
 {:date #object[java.time.LocalDate 0x565d7835 "2021-05-25"],
  :type "Bank credit A DONOR",
  :desc "Bank credit A DONOR",
  :in 20.0,
  :name "A DONOR",
  :group nil}
 {:date #object[java.time.LocalDate 0x38df9abe "2021-06-08"],
  :type "Bank credit A DONOR",
  :desc "Bank credit A DONOR",
  :in 40.0,
  :name "A DONOR",
  :group nil}
 {:date #object[java.time.LocalDate 0x2fda5698 "2021-06-15"],
  :type "Bank credit A DONOR",
  :desc "Bank credit A DONOR",
  :in 20.0,
  :name "A DONOR",
  :group nil}
 {:date #object[java.time.LocalDate 0x7feba366 "2021-06-29"],
  :type "Bank credit A DONOR",
  :desc "Bank credit A DONOR",
  :in 20.0,
  :name "A DONOR",
  :group nil}
 {:date #object[java.time.LocalDate 0x46b5ac55 "2021-07-06"],
  :type "Bank credit A DONOR",
  :desc "Bank credit A DONOR",
  :in 20.0,
  :name "A DONOR",
  :group nil})
